### Task 1 - load the data into dataframe and check for the missing values

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("DS1_C4_S4_Used_Car_Prices_Data_Challenge.csv")

In [4]:
df

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mp,Arrival_Date
0,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,16639.0,white,black,"kia motors america, inc",20500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,9393.0,white,beige,"kia motors america, inc",20800,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,ca,4.5,1331.0,gray,black,financial services remarketing (lease),31900,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,ca,4.1,14282.0,white,black,volvo na rep/world omni,27500,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,ca,4.3,2641.0,gray,black,financial services remarketing (lease),66000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,NaN,in,4.5,18255.0,silver,black,avis corporation,35300,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xDrive35d,SUV,automatic,ca,4.8,50561.0,black,black,financial services remarketing (lease),29800,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,ga,3.8,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,ca,3.4,15008.0,gray,gray,"ford motor credit company,llc pd",29600,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [5]:
df.isnull().sum()

year                0
make            10301
model           10399
trim            10651
body            13195
transmission    65353
state               1
condition       11794
odometer           94
color             749
interior          749
seller              0
mp                  0
Arrival_Date       25
dtype: int64

In [6]:
df.dropna()

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mp,Arrival_Date
0,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,16639.0,white,black,"kia motors america, inc",20500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,9393.0,white,beige,"kia motors america, inc",20800,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,ca,4.5,1331.0,gray,black,financial services remarketing (lease),31900,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,ca,4.1,14282.0,white,black,volvo na rep/world omni,27500,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,ca,4.3,2641.0,gray,black,financial services remarketing (lease),66000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558831,2011,BMW,5 Series,528i,Sedan,automatic,fl,3.9,66403.0,white,brown,lauderdale imports ltd bmw pembrok pines,20300,Tue Jul 07 2015 06:15:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xDrive35d,SUV,automatic,ca,4.8,50561.0,black,black,financial services remarketing (lease),29800,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,ga,3.8,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,ca,3.4,15008.0,gray,gray,"ford motor credit company,llc pd",29600,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [7]:
df.isnull().sum()

year                0
make            10301
model           10399
trim            10651
body            13195
transmission    65353
state               1
condition       11794
odometer           94
color             749
interior          749
seller              0
mp                  0
Arrival_Date       25
dtype: int64

Interpretation - Here i have displayed , the data into dataframe and check for the missing values and then treated with the missing values . Now there are no missing values in the DataFrame

### Task 2

In [8]:
df

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mp,Arrival_Date
0,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,16639.0,white,black,"kia motors america, inc",20500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,9393.0,white,beige,"kia motors america, inc",20800,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,ca,4.5,1331.0,gray,black,financial services remarketing (lease),31900,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,ca,4.1,14282.0,white,black,volvo na rep/world omni,27500,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,ca,4.3,2641.0,gray,black,financial services remarketing (lease),66000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,NaN,in,4.5,18255.0,silver,black,avis corporation,35300,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xDrive35d,SUV,automatic,ca,4.8,50561.0,black,black,financial services remarketing (lease),29800,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,ga,3.8,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,ca,3.4,15008.0,gray,gray,"ford motor credit company,llc pd",29600,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [9]:
low_pri = df[(df["year"]==2014) & (df["state"]=="ca")]

In [10]:
a = low_pri.sort_values(by="mp",ascending=True)
b = a[0:100]

In [11]:
b

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mp,Arrival_Date
179673,2014,Nissan,Versa,1.6 SV,Sedan,automatic,ca,2.4,78882.0,white,black,nissan motor acceptance corporation,6175,Thu Jul 02 2015 08:00:00 GMT-0700 (PDT)
494101,2014,Mitsubishi,Mirage,DE,hatchback,automatic,ca,4.3,24002.0,silver,black,black/white auto sales,7225,Wed Jun 03 2015 05:15:00 GMT-0700 (PDT)
477609,2014,Nissan,Versa,1.6 SV,sedan,automatic,ca,4.1,43948.0,black,black,consumer portfolio services,7425,Wed Jun 03 2015 05:30:00 GMT-0700 (PDT)
444039,2014,Nissan,Versa,1.6 SV,Sedan,manual,ca,3.0,44854.0,black,black,bmw alphera/alphera financial services,7525,Tue Jun 02 2015 05:30:00 GMT-0700 (PDT)
543536,2014,smart,fortwo,passion coupe,hatchback,automatic,ca,4.8,3575.0,â€”,black,mercedes-benz financial services,7900,Thu Jun 18 2015 05:30:00 GMT-0700 (PDT)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
457262,2014,Nissan,Versa,1.6 SV,Sedan,automatic,ca,3.9,8857.0,gray,black,santander consumer,9675,Thu May 28 2015 05:00:00 GMT-0700 (PDT)
379472,2014,Ford,Fiesta,SE,Hatchback,automatic,ca,4.3,45661.0,red,black,avis corporation,9675,Tue Mar 03 2015 04:45:00 GMT-0800 (PST)
60893,2014,Toyota,Yaris,LE,Hatchback,automatic,ca,2.0,32691.0,red,black,enterprise vehicle exchange / tra / rental / t...,9675,Tue Dec 30 2014 12:00:00 GMT-0800 (PST)
442576,2014,smart,fortwo,electric drive coupe,Hatchback,automatic,ca,4.8,4171.0,white,gray,mercedes-benz financial services,9700,Wed May 27 2015 05:30:00 GMT-0700 (PDT)
543472,2014,Nissan,Versa Note,1.6 SV,hatchback,automatic,ca,4.2,16241.0,â€”,black,nissan motor acceptance corporation,9700,Tue Jun 16 2015 05:30:00 GMT-0700 (PDT)

Interpretation - Here i have displayed the potential cars detail for to help john and the first 100 lowest priced cars

### Task 3 - Crosstables of manufacturers and prices

In [12]:
cross = pd.crosstab(b.make,b.mp)

In [13]:
cross

mp,6175,7225,7425,7525,7900,8050,8300,8400,8425,8475,...,9475,9500,9525,9550,9575,9600,9625,9650,9675,9700
make,,,,,,,,,,,,,,,,,,,,,
Chevrolet,0,0,0,0,0,0,0,1,0,0,...,0,2,0,2,0,0,2,1,0,0
FIAT,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Ford,0,0,0,0,0,0,0,0,0,1,...,0,0,1,2,3,0,0,0,1,0
Hyundai,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
Mazda,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
Mitsubishi,0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
Nissan,1,0,1,1,0,1,1,0,1,0,...,2,2,2,0,0,1,3,1,1,1
Toyota,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
Volkswagen,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
smart,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,1

Interpretation - Here i have created a crosstables for manufacturers and price of those cars find in task 2

### Task 4 - chervolet cars with 10 % discount

In [14]:
cher = b[(b["make"]=="Chevrolet")]

In [15]:
cher

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mp,Arrival_Date
518957,2014,Chevrolet,Spark,1LT,hatchback,automatic,ca,1.0,38707.0,white,gray,enterprise vehicle exchange / tra / rental / t...,8400,Tue Jun 09 2015 06:00:00 GMT-0700 (PDT)
473427,2014,Chevrolet,Spark,1LT,hatchback,automatic,ca,2.3,43370.0,blue,black,enterprise veh exchange/rental,8500,Thu May 28 2015 05:00:00 GMT-0700 (PDT)
80892,2014,Chevrolet,Spark,1LT,Hatchback,automatic,ca,2.0,34016.0,silver,black,enterprise vehicle exchange / tra / rental / t...,8700,Tue Jan 06 2015 13:00:00 GMT-0800 (PST)
2191,2014,Chevrolet,Spark,1LT,Hatchback,automatic,ca,NaN,33906.0,white,black,enterprise vehicle exchange / tra / rental / t...,8950,Tue Dec 16 2014 13:00:00 GMT-0800 (PST)
44314,2014,Chevrolet,Spark,1LT,Hatchback,automatic,ca,2.0,28077.0,â€”,gray,enterprise vehicle exchange / tra / rental / t...,9050,Tue Dec 23 2014 12:00:00 GMT-0800 (PST)
531030,2014,Chevrolet,Sonic,LT,sedan,automatic,ca,2.5,50629.0,gray,black,the hertz corporation,9150,Thu Jun 11 2015 05:30:00 GMT-0700 (PDT)
258946,2014,Chevrolet,Sonic,LS,Hatchback,manual,ca,1.9,8887.0,silver,gray,crb auto finance,9250,Wed Feb 11 2015 04:30:00 GMT-0800 (PST)
471595,2014,Chevrolet,Spark,1LT,hatchback,automatic,ca,2.0,25502.0,silver,black,fox rent a car tra,9325,Wed May 27 2015 08:05:00 GMT-0700 (PDT)
125534,2014,Chevrolet,Sonic,LT,Sedan,automatic,ca,1.0,34780.0,white,â€”,enterprise vehicle exchange / tra / rental / t...,9450,Wed Jan 14 2015 07:05:00 GMT-0800 (PST)
44341,2014,Chevrolet,Spark,1LT,Hatchback,automatic,ca,2.0,20701.0,silver,black,enterprise vehicle exchange / tra / rental / t...,9500,Tue Dec 30 2014 13:00:00 GMT-0800 (PST)
456227,2014,Chevrolet,Sonic,LT,Sedan,automatic,ca,4.4,40464.0,gray,black,the hertz corporation,9500,Thu May 28 2015 05:00:00 GMT-0700 (PDT)
456215,2014,Chevrolet,Sonic,LT,Sedan,automatic,ca,3.4,39647.0,blue,black,the hertz corporation,9550,Thu May 28 2015 05:00:00 GMT-0700 (PDT)
229362,2014,Chevrolet,Spark,1LT,Hatchback,automatic,ca,4.1,12658.0,silver,black,the hertz corporation,9550,Wed Feb 04 2015 04:30:00 GMT-0800 (PST)
391429,2014,Chevrolet,Spark,LS,Hatchback,automatic,ca,5.0,4459.0,white,gray,buyers auto sales,9625,Wed Mar 04 2015 04:30:00 GMT-0800 (PST)
105924,2014,Chevrolet,Sonic,LT,Hatchback,automatic,ca,1.0,40051.0,silver,black,enterprise vehicle exchange / tra / rental / t...,9625,Tue Jan 13 2015 12:00:00 GMT-0800 (PST)
125525,2014,Chevrolet,Spark,1LT,Hatchback,automatic,ca,2.0,19146.0,white,â€”,enterprise vehicle exchange / tra / rental / t...,9650,Wed Jan 21 2015 07:05:00 GMT-0800 (PST)

In [16]:
new_df = cher[["make","mp"]]

In [17]:
new_df

             make    mp
518957  Chevrolet  8400
473427  Chevrolet  8500
80892   Chevrolet  8700
2191    Chevrolet  8950
44314   Chevrolet  9050
531030  Chevrolet  9150
258946  Chevrolet  9250
471595  Chevrolet  9325
125534  Chevrolet  9450
44341   Chevrolet  9500
456227  Chevrolet  9500
456215  Chevrolet  9550
229362  Chevrolet  9550
391429  Chevrolet  9625
105924  Chevrolet  9625
125525  Chevrolet  9650

In [18]:
dis = new_df[["mp"]]*0.9

In [19]:
dis

            mp
518957  7560.0
473427  7650.0
80892   7830.0
2191    8055.0
44314   8145.0
531030  8235.0
258946  8325.0
471595  8392.5
125534  8505.0
44341   8550.0
456227  8550.0
456215  8595.0
229362  8595.0
391429  8662.5
105924  8662.5
125525  8685.0

In [20]:
s = dis.rename(columns={"mp" :"Discounted_price"})

In [21]:
s

        Discounted_price
518957            7560.0
473427            7650.0
80892             7830.0
2191              8055.0
44314             8145.0
531030            8235.0
258946            8325.0
471595            8392.5
125534            8505.0
44341             8550.0
456227            8550.0
456215            8595.0
229362            8595.0
391429            8662.5
105924            8662.5
125525            8685.0

In [22]:
discount = pd.concat([new_df,s],axis=1)

In [23]:
discount

             make    mp  Discounted_price
518957  Chevrolet  8400            7560.0
473427  Chevrolet  8500            7650.0
80892   Chevrolet  8700            7830.0
2191    Chevrolet  8950            8055.0
44314   Chevrolet  9050            8145.0
531030  Chevrolet  9150            8235.0
258946  Chevrolet  9250            8325.0
471595  Chevrolet  9325            8392.5
125534  Chevrolet  9450            8505.0
44341   Chevrolet  9500            8550.0
456227  Chevrolet  9500            8550.0
456215  Chevrolet  9550            8595.0
229362  Chevrolet  9550            8595.0
391429  Chevrolet  9625            8662.5
105924  Chevrolet  9625            8662.5
125525  Chevrolet  9650            8685.0

Interpretation - here i have displayed the chervolet cars with 10 % discount

### task 5 - Average price of cars based on their interior works from the 100 cars

In [24]:
avg_price = b.groupby(by=["interior"])["mp"].mean()

In [25]:
avg_price

interior
beige     9600.000000
black     9091.558442
gray      9169.642857
purple    9175.000000
red       9150.000000
tan       9575.000000
â€”         9437.500000
Name: mp, dtype: float64

Interpretation - here i have displayed the average of prices based on interiors of cars

### Task 6 - color wise availability of cars from the year of 2010 to 2015

In [26]:
y = df[((df["year"])>=2010) &  ((df["year"])<=2015)]

In [27]:
y

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mp,Arrival_Date
0,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,16639.0,white,black,"kia motors america, inc",20500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,9393.0,white,beige,"kia motors america, inc",20800,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,ca,4.5,1331.0,gray,black,financial services remarketing (lease),31900,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,ca,4.1,14282.0,white,black,volvo na rep/world omni,27500,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,ca,4.3,2641.0,gray,black,financial services remarketing (lease),66000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,NaN,in,4.5,18255.0,silver,black,avis corporation,35300,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xDrive35d,SUV,automatic,ca,4.8,50561.0,black,black,financial services remarketing (lease),29800,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,ga,3.8,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,ca,3.4,15008.0,gray,gray,"ford motor credit company,llc pd",29600,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [42]:
grp = y.groupby(by=["make","color"])["color"].count()

In [43]:
grp

make   color
Acura  beige          1
       black       1031
       blue          99
       brown         12
       burgundy      94
                   ...
vw     brown          1
       gray           2
       silver         1
       white          2
       â€”             10
Name: color, Length: 715, dtype: int64

Interpretation - Here i have displayed the count of color from the year of 2010 to 2015

### Task 7

In [30]:
bmw = df[(df["make"]=="BMW") & (df["body"]=="Sedan") &   (df["year"]>=2010) & (df["year"]<=2015) & (df["condition"]<=4.5)]

In [31]:
bmw

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mp,Arrival_Date
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,ca,4.5,1331.0,gray,black,financial services remarketing (lease),31900,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,ca,4.3,2641.0,gray,black,financial services remarketing (lease),66000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
6,2014,BMW,M5,Base,Sedan,automatic,ca,3.4,14943.0,black,black,the hertz corporation,69000,Wed Dec 17 2014 12:30:00 GMT-0800 (PST)
21,2014,BMW,5 Series,528i,Sedan,automatic,ca,2.9,25969.0,black,black,financial services remarketing (lease),34200,Tue Feb 03 2015 04:30:00 GMT-0800 (PST)
38,2014,BMW,M5,Base,Sedan,automatic,ca,3.8,16360.0,black,black,the hertz corporation,65000,Tue Jan 13 2015 04:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
464606,2014,BMW,6 Series Gran Coupe,650i xDrive,Sedan,automatic,ga,4.3,9356.0,white,black,flag/ald motors inc,67000,Wed May 27 2015 03:00:00 GMT-0700 (PDT)
520719,2015,BMW,7 Series,740Li xDrive,Sedan,NaN,oh,4.2,6504.0,black,black,bmw north america,73000,Tue Jun 16 2015 07:00:00 GMT-0700 (PDT)
520730,2015,BMW,5 Series,550i xDrive,Sedan,NaN,oh,3.9,7590.0,gray,black,bmw north america,64000,Tue Jun 16 2015 07:00:00 GMT-0700 (PDT)
530198,2014,BMW,3 Series,328i SULEV,Sedan,automatic,ca,4.4,12542.0,white,black,financial services remarketing (lease),26100,Thu Jun 18 2015 05:30:00 GMT-0700 (PDT)
558831,2011,BMW,5 Series,528i,Sedan,automatic,fl,3.9,66403.0,white,brown,lauderdale imports ltd bmw pembrok pines,20300,Tue Jul 07 2015 06:15:00 GMT-0700 (PDT)

In [36]:
m= pd.pivot_table(bmw,index=['year','model'],values=['mp'])

In [37]:
m

                                    mp
year model
2010 3 Series             13740.400000
     5 Series             15822.965116
     7 Series             27654.166667
     M5                   28800.000000
2011 3 Series             19357.624263
     5 Series             26460.752688
     7 Series             27792.307692
     ActiveHybrid 7       31775.000000
     M3                   39937.500000
2012 3 Series             24964.743590
     5 Series             29959.395532
     7 Series             35895.312500
     ActiveHybrid 5       24800.000000
     ActiveHybrid 7       39066.666667
2013 3 Series             25877.611940
     5 Series             33622.767857
     6 Series Gran Coupe  49938.709677
     7 Series             46677.611940
     M5                   63488.888889
2014 3 Series             32507.359307
     5 Series             43186.813187
     6 Series Gran Coupe  63023.076923
     7 Series             52460.000000
     ActiveHybrid 7       65000.000000
     M5                   71187.500000
     M6 Gran Coupe        95000.000000
2015 3 Series             35686.666667
     5 Series             50900.000000
     7 Series             73000.000000

Interpretation - Here i have displayed the year wise price of the bmw cars by each model and here are the result

### Task 8

In [44]:
df

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mp,Arrival_Date
0,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,16639.0,white,black,"kia motors america, inc",20500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,9393.0,white,beige,"kia motors america, inc",20800,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,ca,4.5,1331.0,gray,black,financial services remarketing (lease),31900,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,ca,4.1,14282.0,white,black,volvo na rep/world omni,27500,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,ca,4.3,2641.0,gray,black,financial services remarketing (lease),66000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,NaN,in,4.5,18255.0,silver,black,avis corporation,35300,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xDrive35d,SUV,automatic,ca,4.8,50561.0,black,black,financial services remarketing (lease),29800,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,ga,3.8,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,ca,3.4,15008.0,gray,gray,"ford motor credit company,llc pd",29600,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [45]:
df2 = df[(df["body"]=="SUV") & (df["year"]>=2010) & (df["year"]<=2015) & (df["odometer"]<=30000)]

In [50]:
sort = df2.sort_values(by="mp",ascending=False)
sort

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mp,Arrival_Date
5646,2014,Land Rover,Range Rover,Autobiography LWB,SUV,automatic,ca,4.6,5369.0,white,orange,land rover north america llc,136000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
110247,2014,Land Rover,Range Rover,Autobiography LWB,SUV,automatic,ca,5.0,3619.0,black,black,land rover north america llc,134000,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
5842,2014,Mercedes-Benz,G-Class,G63 AMG,SUV,automatic,ca,5.0,980.0,charcoal,black,chings trading,133000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
291293,2014,Mercedes-Benz,G-Class,G63 AMG,SUV,automatic,ca,4.9,2003.0,blue,beige,mercedes-benz financial services,131000,Thu Feb 12 2015 04:30:00 GMT-0800 (PST)
120105,2014,Mercedes-Benz,G-Class,G63 AMG,SUV,automatic,il,5.0,1737.0,black,black,autolink sales llc,131000,Tue Jan 27 2015 02:00:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203138,2011,Suzuki,Grand Vitara,Limited,SUV,automatic,fl,3.4,22133.0,gray,black,suntrust bank,9025,Wed Jan 28 2015 01:00:00 GMT-0800 (PST)
285467,2012,Suzuki,Grand Vitara,Premium,SUV,automatic,ne,3.5,11929.0,silver,black,wells fargo dealer services,8925,Thu Feb 12 2015 02:30:00 GMT-0800 (PST)
409029,2012,Nissan,Rogue,S,SUV,NaN,pa,4.0,29839.0,gray,black,nissan-infiniti lt,7725,Fri Jun 19 2015 02:00:00 GMT-0700 (PDT)
410774,2010,Suzuki,Grand Vitara,Premium,SUV,NaN,nc,2.0,1.0,black,gray,pra receivables management llc,6350,Mon Apr 27 2015 02:30:00 GMT-0700 (PDT)
421521,2010,Suzuki,Grand Vitara,Premium,SUV,automatic,pr,3.6,28677.0,blue,black,oriental bank,6225,Thu May 21 2015 05:30:00 GMT-0700 (PDT)

In [51]:
d = sort[0:100]

In [53]:
d

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mp,Arrival_Date
5646,2014,Land Rover,Range Rover,Autobiography LWB,SUV,automatic,ca,4.6,5369.0,white,orange,land rover north america llc,136000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
110247,2014,Land Rover,Range Rover,Autobiography LWB,SUV,automatic,ca,5.0,3619.0,black,black,land rover north america llc,134000,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
5842,2014,Mercedes-Benz,G-Class,G63 AMG,SUV,automatic,ca,5.0,980.0,charcoal,black,chings trading,133000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
291293,2014,Mercedes-Benz,G-Class,G63 AMG,SUV,automatic,ca,4.9,2003.0,blue,beige,mercedes-benz financial services,131000,Thu Feb 12 2015 04:30:00 GMT-0800 (PST)
120105,2014,Mercedes-Benz,G-Class,G63 AMG,SUV,automatic,il,5.0,1737.0,black,black,autolink sales llc,131000,Tue Jan 27 2015 02:00:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28928,2014,Mercedes-Benz,GL-Class,GL550 4MATIC,SUV,automatic,tx,4.8,12069.0,black,gray,mercedes-benz financial services,77000,Thu Dec 18 2014 11:00:00 GMT-0800 (PST)
362473,2015,Cadillac,Escalade,Premium,SUV,automatic,pa,5.0,433.0,white,beige,r hollenshead auto sales inc,77000,Fri Feb 27 2015 01:00:00 GMT-0800 (PST)
150466,2014,Lexus,LX 570,Base,SUV,NaN,pa,4.8,6160.0,black,black,r hollenshead auto sales inc,77000,Fri Jan 16 2015 01:00:00 GMT-0800 (PST)
442574,2014,Porsche,Cayenne,GTS,SUV,automatic,ca,4.6,15694.0,white,black,ecars,77000,Thu May 21 2015 05:30:00 GMT-0700 (PDT)
120050,2014,Lexus,LX 570,Base,SUV,automatic,ca,4.6,12687.0,burgundy,beige,toyota motor sales/lexus,76000,Tue Jan 13 2015 16:00:00 GMT-0800 (PST)

Interpretation - These are top 100 SUV cars .which satisfy the above conditions